<!DOCTYPE html>
<html>
<head>
  <title>SLS Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <script src="../static/video_script.js"></script>
</head>
<body>
<div class="login-container">
  <h1 class="title">Welcome to Spice Logistics Systems</h1>
  <form>
    <button class="apple-button" type="submit" onclick="openCamera(); handleVideo(webcam)">
       Login
    </button>
  </form>
</div>




<script>
</body>
</html>
